[submodule ".vim/pack/plugins/start/ctrlp"]
	path = .vim/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = https://github.com/LunarWatcher/auto-pairs.git
[submodule ".vim/pack/plugins/start/indentLine"]
	path = .vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/plugins/start/tcomment_vim"]
	path = .vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/pack/plugins/start/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
