[user]
	name = Alexander Frankel
	email = alexanderfrankel001@gmail.com
[github]
	user = alexanderfrankel
[core]
	editor = vim
	excludesfile = /Users/alexanderfrankel/.gitignore
[alias]
	gs = status
	ga = add
	gcm = 'commit -m'
	gcv = 'commit -v'
