[user]
	name = Alexander Frankel
	email = alexanderfrankel001@gmail.com
[github]
	user = alexanderfrankel
[core]
	editor = vim
	excludesfile = /Users/alexanderfrankel/.gitignore
[alias]
  gs = status
  ga = add
  gaa = add --all
  grm = rm
  gvm = commit -m
  gcv = commit -v
  gl = log
  gc = checkout
  gcb = checkout -b
  gp = push
  gb = branch
  gr = remote
  gd = diff
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
